@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: 'Major Mono Display', monospace; */

:root {
    --primary: #11998e;
    --secondary: #38ef7d;
  }

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#main {
    position: fixed;
    width: 100%;;
    height: 100%;
    left: 0;
    top: 60px;
}

#app {
    width: 100%;
    height: 100%;
}

/* Navbar ---------------------------------------------------------- */

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;

    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    
}

.main-nav > h2 > a {
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: var(--primary);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 195px);
    text-decoration: none;
    margin-left: 15px;
}

.nav-tripple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.sign-in-link {
    padding: 7px;
    border: 2px solid var(--secondary);
    border-radius: 5px;
}

/* Navbar ---------------------------------------------------------- */


/* Signup Form ---------------------------------------------------------- */

.container { 
    font-family:'Roboto';
    width:600px;
    height: 500px;
    margin: 100px auto 0; 
    display:block; 
    background:#FFF;
    padding:10px 50px 50px;
}

.sign-up-form {
    position: relative;
    top: 75px;
    left: 150px;
} 
  
.sign-up-form > .group { 
    position:relative; 
    margin-bottom:45px; 
}
.group > input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

.group > input:focus { 
    outline:none;
}

.group > label {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.group > input:focus ~ label, .group > input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color: var(--primary);
}
  
.bar {
    position:relative;
    display:block;
    width:300px;
}

.bar:before, 
.bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: var(--primary); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%; 
}

.group > input:focus ~ .bar:before, .group > input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
  
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
  
@-webkit-keyframes inputHighlighter {
    from { background:var(--primary); }
    to 	{ width:0; background:transparent; }
}

@-moz-keyframes inputHighlighter {
    from { background:var(--primary); }
    to 	{ width:0; background:transparent; }
}

@keyframes inputHighlighter {
    from { background:var(--primary); }
    to 	{ width:0; background:transparent; }
}

.create-button {
    font-family:'Roboto';
    background-color: var(--secondary);
	padding: 10px;
	cursor: pointer;
	outline: inherit;

    position: relative;
    left: 100px;
    border: none;
    border-radius: 20px;
}

.small-login {
    position: relative;
    top: 40px;
    right: 10px;
}

/* Signup Form ---------------------------------------------------------- */

/* Create Post ---------------------------------------------------------- */

.create-post-container {
    background-color: #FFF;
    width: 900px;
    height: 100%;
    margin: 0 auto 0 auto;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-post-form > img {
    margin: 40px auto 10px auto;
    background-color: #757575;
    width: 450px;
    height: 450px;
}

.browse-button {
    background-color: #bbb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto 20px auto;
    cursor: pointer;
}

.create-post-form > textarea {
    border: 1px solid var(--primary);
    border-radius: 10px;
    resize: none;
    box-shadow: none;
    outline: none;
    transition: outline 0.2s ease-in-out;
}

.create-post-form > textarea:focus {
    outline: var(--secondary) solid 1px;
}

.create-post-button {
    margin-top: 20px;
    font-family:'Roboto';
    background-color: var(--secondary);
	padding: 12px 20px 12px 20px;
	cursor: pointer;
	outline: inherit;
    border: none;
    border-radius: 20px;
}

/* Create Post ---------------------------------------------------------- */


.feed-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;

    width: 1000px;
    height: 100%;
    padding-top: 20px;
}

.post-card {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 800px;
    margin: 20px;
}

.post-card:hover {
    border: 1px solid #555;
}

.post-info-section {
    width: 100%;
    height: 30px;
    background-color: #bbb;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-name-tag {
    color: var(--primary);
    text-decoration: none;
    margin: 10px;
    transition: color 0.2s ease-in-out;
    
}

.profile-name-tag:hover {
    color: black;
    text-decoration: underline;
}

.post-content {
    padding: 0px 10px 10px 10px;
}

.heading-text {
    font-size: larger;
    font-weight: 900;
}

.post-image {
    margin: auto;
}

.caption-text {

}
